/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

a {
    display: block;
    text-decoration: none;
}

img {
    font-size: 0;
    max-width: 100%;
    height: auto;
    display: block;
}


picture {
    font-size: 0;
    display: block;

    overflow: hidden;
}

ul {
    padding: 0;
    margin: 0;

    list-style: none;
}

button {
    padding: 0;
    cursor: pointer;
}