.scroll-up {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 54px;
    background: #4f2ee8;
    border-radius: 50%;
    border-color: transparent;
    box-shadow: 0px 0px 0px 5px #4f2ee84d;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    cursor: pointer;
    padding: 15px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s;
}



.show {
    opacity: 1;
    visibility: visible;
}

       