/*
  |============================
  | Container
  |============================
*/
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

/*
  |============================
  | Section param
  |============================
*/
.section {
  padding-top: 40px;
  padding-bottom: 80px;
}

@media screen and (min-width: 768px) {
  .section {
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1440px) {
  .section {
    padding-top: 40px;
    padding-bottom: 72px;
  }
}

/*
  |============================
  | Section title
  |============================
*/
.section-title {
  font-weight: 500;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.02em;
}

@media screen and (min-width: 768px) {
  .section-title {
    font-size: 68px;
  }
}
