<header class="header">
  <div class="header-container container">
    <!-- Лого + навигация -->
    <div class="logo-wrrap">
      <a class="logo" href="./index.html">
        <img
          src="/src/images/header-logo/logo.png"
          x
          width="24"
          height="24"
          alt="logo"
        />
        <b class="logo-txt">Bookshelf</b>
      </a>

      <nav class="page-nav">
        <ul class="nav-list">
          <li class="nav-link">
            <a class="link-txt" id="index" href="./index.html">home</a>
          </li>
          <li class="nav-link">
            <a class="link-txt" id="shopping" href="./shopping.html">
              shopping list
              <svg class="shopping-icon" width="20px" height="20px">
                <use href="./images/sprite.svg#icon-bag"></use>
              </svg>
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <!-- Свичер -->
    <div class="switch-burg-wrrap">
      <label class="switch">
        <input type="checkbox" />
        <span class="slider round"></span>
      </label>
      <!-- кнопка sign up -->
      <button class="sign-up-btn" type="button">
        Sign up
        <svg class="sign-up-icon" width="20" height="20">
          <use href="/src/images/sprite.svg#icon-arrow"></use>
        </svg>
      </button>
      <!-- Бургер кнопки -->
      <button type="button" class="mobile-menu-open" data-menu-open>
        <svg class="mobile-menu-open-icon" width="28" height="20">
          <use class="burger" href="./images/sprite.svg#icon-menu"></use>
        </svg>
      </button>
      <button type="button" class="mobile-menu-close" data-menu-close>
        <svg class="mobile-menu-close-icon" width="28" height="20">
          <use class="close-icon" href="./images/sprite.svg#icon-cross"></use>
        </svg>
      </button>
    </div>
  </div>

  <div class="mobile-menu background" data-menu>
    <div class="mobile-menu-container container">
      <div class="account">
        <img class="photo" src="./images/stephen.png" alt="accouunt-photo" />
        <p class="account-name">Stephen</p>
      </div>
      <nav class="link-pages">
        <li class="home-item">
          <a class="home-list" href="index.html">Home</a>
        </li>
        <li class="shopping-item">
          <a class="shopping-list" href="./shopping.html"
            >Shopping list
            <svg class="icon-bag" width="20" height="20">
              <use href="./images/sprite.svg#icon-bag" />
            </svg>
          </a>
        </li>
      </nav>
      <button class="log-btn">
        Log out
        <svg width="13" height="10">
          <use href="./images/sprite.svg#icon-arrow" />
        </svg>
      </button>
    </div>
  </div>

  <script>
    var currentPageLink = document.querySelector(
      "a[href='" + window.location.pathname + "']"
    );
    if (currentPageLink) {
      currentPageLink.classList.add('current');
    }
  </script>

  <!-- скрипт для хедера  -->
  <!-- <script>
    let lastScroll = 0;
    const defaultOffset = 30;
    const header = document.querySelector('.header');

    const scrollPosition = () =>
      window.pageYOffset || document.documentElement.scrollTop;
    const containHide = () => header.classList.contains('hidden');
    window.addEventListener('scroll', () => {
      if (scrollPosition() > lastScroll && scrollPosition() > defaultOffset) {
        header.classList.add('hidden');
        //scroll down
      } else if (scrollPosition() < lastScroll && containHide()) {
        header.classList.remove('hidden');
        //scroll up
      }

      lastScroll = scrollPosition();
    });
  </script> -->
</header>
