<div class="menu-container js-menu-container" id="mobile-menu">
  <button
    class="button-user button-mobile js-open-modal js-greeting"
    type="button"
  >
    <!-- <button type="button" class="user-info-btn">
      <svg class="" width="37" height="37">
        <use href="/src/images/sprite.svg#"></use>
      </svg>
      <b>...</b>
      <svg class="" width="23" height="26">
        <use href="/src/images/sprite.svg#"></use>
      </svg>
    </button> -->
    <!-- <span class="text-log-user">Stephen</span> -->
  </button>
  <nav class="nav-mobile">
    <ul class="nav-list-mobile">
      <li class="nav-item-mobile nav-item nav-link-m">
        <a href="/src/index.html" class="link-txt">Home</a>
      </li>
      <li class="nav-item-mobile nav-item nav-link-m">
        <a href="/src/shopping.html" class="link-txt">Shopping list </a>
        <svg class="shopping-icon" width="20" height="20">
          <use href="./images/sprite.svg#icon-bag"></use>
        </svg>
      </li>
    </ul>
  </nav>
  <button class="button-log-out-mobile" type="button">
    <span class="text-log-mobile">Log out</span>
    <svg class="sign-up-icon" width="20" height="20">
      <use href="./images/sprite.svg#icon-arrow"></use>
    </svg>
  </button>
</div>
