
    <div class="modal">
        <button class="close-button" type="button"></button>
        <div class="modal-content">
          <!-- <img class="modal-image" src="" alt="Обкладинка книги" />
          <h3 class="modal-title"></h3>
          <p class="modal-author"></p>
          <p class="modal-description"></p>
        </div>
        <ul class="shopping-link-list">
          <li class="shopping-link">
            <image class="amazon" src="" alt="Amazon-link" />
          </li>
          <li class="shopping-link">
            <image class="apple" src="" alt="Apple-link" />
          </li>
          <li class="shopping-link">
            <image class="shops" src="" alt="Shops-link" />
          </li>
        </ul> -->
        <button class="add-book-button" type="button">add to shopping list</button>
      </div>
    
