<div class="modal">

  <button class="close-modal-button js-modal-close" type="button">
    <svg width="24" height="24">
      <use href="./images/sprite.svg#icon-cross"></use>
    </svg>
  </button>

  <div class="modal-content">

  </div>
  <ul class="shopping-link-list">
    <li class="shopping-link-item">
      <a
        href="https://www.amazon.com/"
        target="_blank"
        rel="noreferrer noopener"
        class="shopping-link"
      >
        <img
          class="shopping-link-image"
          src="./images/modal-images/image1.png"
          width="62px"
          height="19px"
          alt="Amazon-link"
      /></a>
    </li>
    <li class="shopping-link-item">
      <a href="https://www.apple.com/ua/apple-books/"
      target="_blank"
      rel="noreferrer noopener"
      class="shopping-link">
        <img
          class="shopping-link-image"
          src="./images/modal-images/image2.png"
          width="33px"
          height="32px"
          alt="Applebook-link"
      /></a>
    </li>
    <li class="shopping-link-item">
      <a href="https://bookshop.org/"
      target="_blank"
      rel="noreferrer noopener"
      class="shopping-link">
        <img
          class="shopping-link-image"
          src="./images/modal-images/image3.png"
          width="38px"
          height="36px"
          alt="Shops-link"
      /></a>
    </li>
  </ul>
  <button class="add-book-button" type="submit">add to shopping list</button>

  <p class="under-remove-btn-text text-hidden">Сongratulations! You have added the book to the shopping list. To delete, press the button “Remove from the shopping list”.</p>
</div>

<div class="overlay" id="overlay-modal"></div>

