<div class="support-block">
  <div class="sup-wrap">
    <div class="support-heading">
      <h2 class="support-title">
        Support Ukraine
      </h2>
      <svg class="svg-threzub">
        <use href="./images/sprite.svg#icon-threzub"></use>
      </svg>
    </div>
    <ul class="support-list"></ul>
    <button type="button" class="support-button js-support-btn slider-button">
      <svg class="support-svg">
        <use href="./images/support-block/icon/arrow.svg#icon-arrow"></use>
      </svg>
  </div>
</div>