<div class="support-container">
  <div class="support">
    <h1 class="support-title">Support Ukraine</h1>
    <svg class="support-icon" width="20" height="32">
      <use href="./images/sprite.svg#icon-threzub"></use>
    </svg>
  </div>
  <ul class="support-list slider">
    <li class="support-item slider_item">
      <p>01</p>
      <a
        href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          class="support-image"
          src="./images/support/image.png"
          alt="Save the Children"
          width="149"
          height="33"
        />
      </a>
    </li>
    <li class="support-item slider_item">
      <p>02</p>
      <a
        href="https://www.projecthope.org/country/ukraine/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          class="support-image"
          src="./images/support/image1.png"
          alt="Project HOPE"
          width="90"
          height="45"
      /></a>
    </li>
    <li class="support-item slider_item">
      <p>03</p>
      <a
        href="https://internationalmedicalcorps.org/country/ukraine/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          class="support-image"
          src="./images/support/image3.png"
          alt="International Medical Corps"
          width="129"
          height="35"
        />
      </a>
    </li>
    <li class="support-item slider_item">
      <p>04</p>
      <a
        href="https://www.razomforukraine.org/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          class="support-image"
          src="./images/support/image5.png"
          alt="RAZOM"
          width="105"
          height="35"
      /></a>
    </li>
    <li class="support-item slider_item">
      <p>05</p>
      <a
        href="https://www.actionagainsthunger.org/location/europe/ukraine/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          class="support-image"
          src="./images/support/image6.png"
          alt="Action against hunger"
          width="78"
          height="49"
        />
      </a>
    </li>
    <li class="support-item slider_item">
      <p>06</p>
      <a
        href="https://prytulafoundation.org/en"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          class="support-image"
          src="./images/support/image8.png"
          alt="Serhiy Prytula Charity Foundation"
          width="117"
          height="39"
        />
      </a>
    </li>
    <li class="support-item slider_item">
      <p>07</p>
      <a href="https://u24.gov.ua/uk" target="_blank" rel="noopener noreferrer">
        <img
          class="support-image"
          src="./images/support/image2.png"
          alt="UNITED24"
          width="149"
          height="15"
        />
      </a>
    </li>
    <li class="support-item slider_item">
      <p>08</p>
      <a
        href="https://www.msf.org/ukraine"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          class="support-image"
          src="./images/support/image4.png"
          alt="Medicins Sans Frontieres"
          width="133"
          height="47"
        />
      </a>
    </li>
    <li class="support-item slider_item">
      <p>09</p>
      <a
        href="https://www.wvi.org/emergencies/ukraine"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          class="support-image"
          src="./images/support/image7.png"
          alt="World vision"
          width="81"
          height="39"
        />
      </a>
    </li>
  </ul>
  <button class="slider-btn" type="button">
    <svg class="slider-btn-icon" width="22" height="22">
      <use href="./images/sprite.svg#icon-vector"></use>
    </svg>
  </button>
</div>

<!-- Підключення jQuery -->
<script
  type="module"
  src="https://code.jquery.com/jquery-3.7.0.min.js"
></script>
<!-- Підключення слайдера Slick -->
<script type="module" src="./js/slick.min.js"></script>
