.header {
  width: 100%;
  background: var(--white-cl);
  /* position: fixed; */
  top: 0;
  left: 0;

  border: 1.5px solid var(--black-cl);
  border-radius: 0px 0px 8px 8px;

  box-shadow: var(--shadow-header); /* opacity: 0.85; */
  /* height: 72px; */
  /* z-index: 5;
  transition: all 0.8s cubic-bezier(0.25, 0.1, 0.05, 1.1); */
}

/* .header.hidden {
  transform: translateY(-100%);
} */

.logo-txt {
  color: var(--black-cl);
  text-transform: none;
  font-size: 18px;
  font-weight: 500;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}
/* Hide default HTML checkbox */
.switch input {
  display: none;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, var(--brand-color) 0%, #dcdcdc 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  left: 1px;
  bottom: 1px;
  background: linear-gradient(180deg, #ffffff 0%, #f7f7f7 100%);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1),
    1px 2px 4px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background: linear-gradient(180deg, var(--brand-color) 0%, #686868 100%);
}

input:focus + .slider {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1),
    1px 2px 4px rgba(0, 0, 0, 0.1);
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.test {
  display: block;
  padding-top: 60px;
  margin-right: auto;
  margin-left: 200px;
}

/* MOBILE */
@media screen and (max-width: 767px) {
  .header-container {
    /* max-height: 64px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .page-nav {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .logo {
    padding: 18px 0px;
  }
  .logo-wrrap {
    display: flex;
    align-items: center;
  }

  .mobile-menu-close {
    display: none;
    background-color: transparent;
    border: none;
  }

  .nav-list {
    display: none;
  }
  .switch-burg-wrrap {
    display: flex;
    gap: 14px;
  }

  .mobile-menu-open {
    width: 28px;
    height: 20px;
    background-color: transparent;
    border: none;
  }
  .burger:hover,
  .burger:focus {
    fill: var(--brand-color);
  }

  .sign-up-btn {
    display: none;
  }
}

/* TABLET */
@media screen and (min-width: 768px) {
  .mobile-menu-open,
  .mobile-menu-close {
    display: none;
  }

  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .logo-wrrap {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .nav-list {
    display: flex;
    padding-top: 19px;
    padding-bottom: 19px;
    text-align: center;
    align-items: center;
  }

  .link-txt {
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.04em;
    color: var(--black-cl);
    text-transform: uppercase;

    padding: 7px 16px;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .nav-link:not(:last-child) {
    margin-right: 8px;
  }

  .sign-up-btn {
    display: flex;

    align-items: center;
    gap: 90px;
    padding: 14px;

    background: var(--brand-color);
    border: 1.5px solid var(--black-cl);
    border-radius: 18px;

    color: var(--white-cl);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .switch-burg-wrrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;
  }

  .current {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eac645;
    border-radius: 36px;

    font-weight: 700;
  }
}

/* PC */
@media screen and (min-width: 1440px) {
  .logo-wrrap {
    gap: 76px;
  }

  .nav-link:not(:last-child) {
    margin-right: 17px;
  }
}
