.header {
  width: 100%;
  background: var(--white-cl);
  /* position: fixed; */
  top: 0;
  left: 0;

 /* border: 1.5px solid var(--black-cl);
  border-radius: 0px 0px 8px 8px;*/
}

.header-container{
  border: 1.5px solid var(--black-cl);
    border-radius: 0px 0px 8px 8px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}
/* Hide default HTML checkbox */
.switch input {
  display: none;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, var(--brand-color) 0%, #dcdcdc 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  left: 1px;
  bottom: 1px;
  background: linear-gradient(180deg, #ffffff 0%, #f7f7f7 100%);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1),
    1px 2px 4px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background: linear-gradient(180deg, var(--brand-color) 0%, #686868 100%);
}

input:focus + .slider {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1),
    1px 2px 4px rgba(0, 0, 0, 0.1);
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.test {
  display: block;
  padding-top: 60px;
  margin-right: auto;
  margin-left: 200px;
}

/* MOBILE */
@media screen and (max-width: 767px) {
  .header-container {
    /* max-height: 64px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .page-nav {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .logo {
    padding: 18px 0px;
  }
  .logo-txt {
    color: var(--black-cl);
    text-transform: none;
    font-size: 18px;
    font-weight: 500;
  }
  .logo-wrrap {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .switch-burg-wrrap {
    display: flex;
    align-items: center;
    gap: 14px;
  }

  .mobile-menu-close {
    display: none;
    background-color: transparent;
    border: none;
  }

  .nav-list {
    display: none;
  }
  .switch-burg-wrrap {
    display: flex;
    gap: 14px;
  }

  .sign-up-btn {
    display: none;
  }

  .mobile-menu-open {
    width: 28px;
    height: 20px;
    background-color: transparent;
    border: none;
  }
  .burger:hover,
  .burger:focus {
    fill: var(--brand-color);
  }

  .sign-up-btn {
    display: none;
  }
}

/* TABLET */
@media screen and (min-width: 768px) {
  .mobile-menu-open,
  .mobile-menu-close {
    display: none;
  }

  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .logo-wrrap {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: 40px;
  }
  .logo-txt {
    color: var(--black-cl);
    text-transform: none;
    font-size: 18px;
    font-weight: 500;
  }

  .page-nav {
    margin-right: 87px;
  }

  .nav-list {
    display: flex;
    padding-top: 19px;
    padding-bottom: 19px;
    text-align: center;
    align-items: center;
  }

  .link-txt {
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.04em;
    color: var(--black-cl);
    text-transform: uppercase;

    padding: 7px 16px;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .nav-link:not(:last-child) {
    margin-right: 8px;
  }

  .sign-up-btn {
    display: flex;

    align-items: center;
    gap: 90px;
    padding: 14px;

    background: var(--brand-color);
    border: 1.5px solid var(--black-cl);
    border-radius: 18px;

    color: var(--white-cl);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .switch-burg-wrrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;
  }

  .switch-btns-wrrap {
    margin-left: auto;
  }

  .current {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eac645;
    border-radius: 36px;

    font-weight: 700;
  }
  .shopp-link.current {
    width: 156px;
    height: 34px;
  }
}

/* PC */
@media screen and (min-width: 1440px) {
  .logo-wrrap {
    gap: 76px;
  }

  .nav-link:not(:last-child) {
    margin-right: 17px;
  }

  /* .page-nav {
    margin-right: 739px;
  } */
}

/*mobile-menu*/
.mobile-menu-container{
  padding-top: 20px;
  padding-bottom: 20px;
}
.account {
  display: flex;
  align-items: center;
}

/*.photo {}*/

.account-name {
  font-style: normal;
  margin-left: 9px;
  font-weight: 700;
  font-size: 22px;
  line-height: 29px;
  letter-spacing: -0.02em;
  color: var(--white-cl);
  text-transform: none;
}

.link-pages {
  margin-top: 126px;
  display: flex;
  flex-direction: column;
  align-items: center;
 /* margin-bottom: auto;*/
}

.home-item,.shopping-item{
  list-style: none;
  margin-bottom: 16px;
}
.home-item:hover,
.home-item:focus,
.shopping-item:hover,
.shopping-item:focus {
background-color: var(--hover-dark-cl);
border-radius: 36px;
padding: 8px 16px;
color: var(--black-cl);
font-weight: 700;
font-size: 14px;
line-height: 18px;
}

.home-list {
  color: var(--white-cl);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}

.home-list:hover,
.home-list:focus,
.shopping-list:hover,
.shopping-list:focus {
  color: var(--black-cl);  
}

.shopping-list {
color: var(--white-cl);
letter-spacing: -.04em;
text-transform: uppercase;
align-items: flex-end;
gap: 4px;
margin-top: 0;
font-size: 14px;
font-weight: 500;
line-height: 1.29;
display: flex;
}
.icon-bag {
  fill: #fff;
}

.icon-bag:hover,
.icon-bag:focus {
  fill: var(--black-cl);
}

.log-btn {
  padding: 14px 24px;
  background: #ffffff;
  border: 1.5px solid var(--black-cl);
  border-radius: 18px;
  display: flex;
  gap: 4px;
  align-items: center;
  margin-top: 250px;
}

.background {
  background-image: url('/src/images/books.png'), var(--gradient);
  background-position: top 250px right 0px, top 1px right 1px;
  background-repeat: no-repeat;
}
