/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

@import url('./common/body.css');
@import url('./common/reset.css');
@import url('./common/utils.css');
@import url('./common/main-btn.css');
@import url('./common/slider-btn.css');



/* Main page */
@import url('./header.css');
@import url('./home-page/home-page.css');
@import url('./shopping-page/shopping-page.css');
@import url('./support.css');
/* Modals */
@import url('./modals/modals.css');


:root {
    --brand-color:#4f2ee8;
    --white-cl:#FFFFFF;
    --black-cl:#111111;
  

    /*Text*/
    --main-light-txt-cl:#11111199; /*60%*/
    --main-dark-txt-cl: #ffffff99; /*60%*/
    --modal-txt:#11111180;
    --modal-txt-dark:#f6f6f680; /*50%*/
    --name-section-txt:#B4AFAF;
    --blank-shopping-list:#00000099; /*60%*/
    --edit-sl-dark:#ffffff80; /*50%*/
    
    /* --modal-light-txt-cl:;
    --modal-dark-txt-cl:; */


      /*Buttons*/
    /*--btn-border-cl:#4F2EE8;*/
    --btn-modal:#F3F3F3;
    --btn-modal-dark:#202024;
    --btn-switch-theme:linear-gradient(rgb(255, 255, 255), rgb(247, 247, 247));
    --scroll:#E0E0E0


    /*--hover-light-cl:#4F2EE8;*/
    --hover-dark-cl:#EAC645;



    /* Background */
    --main-light-bg: #F6F6F6;
    --main-dark-bg:#202024;
    --shopping-list:#11111166; /*40%*/
    --switch-light-theme: linear-gradient(rgb(79, 46, 232), rgb(220, 220, 220));
    --switch-dark-theme: linear-gradient(rgb(79, 46, 232), rgb(104, 104, 104));
    --gradient: radial-gradient(at top right,rgb(79, 46, 232),rgb(255, 255, 255));


    /* Other */
    --z-index-header: 999;
    --z-index-hero-cont: 1;
    --z-index-rating-mark-block: 2;
}


