.support-container {
 padding: 24px 40px;
 width: 335px;
 height: 352px;
 background: radial-gradient(183.6% 183.01% at 59.76% -23.42%, #4F2EE8 18.03%, #FFFFFF 100%);
 box-shadow: 0px 10px 10px rgba(245, 245, 247, 0.1);
 border-radius: 16px;
}

@media screen and (min-width: 768px) {
 .support-container {
 width: 356px;
 height: 490px;
 }
}

.support {
 display: flex;
 gap: 12px;
 margin-bottom: 40px;
}

.support-title {
 color: var(--white-cl);
 text-transform: capitalize;
 font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 1.1;
letter-spacing: -0.04em;
}

.support-icon {
 color: var(--white-cl);
}

.support-list {
 display: flex;
 flex-direction: column;
 gap: 20px;
}
.support-item.swiper-slide {
 display: flex;
 gap: 16px;
 justify-content: flex-start;
 align-items: center;
 color: var(--white-cl);
}

.support-image {
 color: var(--white-cl);
 filter: brightness(0) invert(1);
}

/* .slider {
 display: flex;
} */

.slider-nav {
 overflow: hidden;
 /* width: 100px; */
 /* margin-right: 30px; */
 flex-shrink: 0;
 /* height: 500px; */
}
