<section class="shopping section">
  <div class="container">
    <h1 class="shopping-header">Shopping<span>List</span></h1>
    <p class="shopping-text text">
      This page is empty, add some books and proceed to order.
    </p>
    <ul class="shopping-list">
      <li class="shopping-item">
        <div class="shopping-card-thumb">
          <!-- <img src="" alt="" class="book-img" /> -->
        </div>
        <div class="shopping-card-content">
          <h2 class="book-title"></h2>
          <p class="book-category"></p>
          <p class="book-description"></p>
          <p class="book-author"></p>
          <ul class="buy-links-list">
            <li class="buy-links-item">
              <!-- <a href="" class="buy-link"></a> -->
            </li>
            <li class="buy-links-item">
              <!-- <a href="" class="buy-link"></a> -->
            </li>
            <li class="buy-links-item">
              <!-- <a href="" class="buy-link"></a> -->
            </li>
          </ul>
        </div>
        <!-- <svg class="icon" width="" height="">
          <use href=""></use>
        </svg> -->
      </li>
    </ul>
  </div>
</section>
