<section class="shopping-section section">
  <div class="container" style="gap: 40px">
    <include src="./partials/support.html"></include>
    <div class="shopping-container">
      <h1 class="shopping-header">Shopping <span class="accent">List</span></h1>
      <div class="shopping-description-block">
        <p class="shopping-description">
          This page is empty, add some books and proceed to order.
        </p>
        <img
          src="/src/images/shopping-list/some_books.png"
          width=""
          height=""
          alt="Some paper books"
        />
      </div>
      <ul class="shopping-list list">
        <!-- <li class="shopping-item">
          <div class="shopping-card-thumb">
            <img src="./images/shopping-list/Rectangle 13.png" width="" height="" alt="" class="book-img" />
          </div>
          <div class="shopping-card-content">
            <h2 class="book-title">I will find you</h2>
            <p class="book-category">Hardcover fiction</p>
            <p class="book-description cut-text">
              David Burroughs was once a devoted father to his three-year-old son
              Matthew, living a dream life just a short drive away from the
              working-class suburb where he and his wife, Cheryl, first fell in
              love--until one fateful night when David woke suddenly to discover
              Matthew had been murdered while David was asleep just down the hall.
            </p>
            <p class="book-author">Harlan Coben</p>
            <ul class="buy-links-list list">
              <li class="buy-links-item">
                <a href="https://goto.applebooks.apple/9781250144058?at=10lIEQ" class="buy-link">
                  <img src="/src/images/modal-images/image1.png" width="" height="" alt="" />
                </a>
              </li>
              <li class="buy-links-item">
                <a href="https://goto.applebooks.apple/9781250144058?at=10lIEQ" class="buy-link">
                  <img src="/src/images/modal-images/image2.png" width="" height="" alt="" />
                </a>
              </li>
              <li class="buy-links-item">
                <a href="https://goto.applebooks.apple/9781250144058?at=10lIEQ" class="buy-link">
                  <img src="/src/images/modal-images/image3.png" width="" height="" alt="" />
                </a>
              </li>
            </ul>
          </div>
          <button class="delete-button" type="button">
            <svg class="icon" width="16" height="16">
              <use href="/src/images/sprite.svg#icon-delete"></use>
            </svg>
          </button>
        </li> -->
      </ul>
    </div>
  </div>
</section>
