.modal {
    opacity: 0;
    visibility: hidden;
    position: relative;
    width: 100%;
    max-width: 335px;
    height: 762px;
    border: 2px solid #111111;
    border-radius: 18px;
    padding: 40px 24px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
    transition: 0.3s all;
    background-color: var(--white-cl);
}

.overlay {
    opacity: 0;
    visibility: hidden;
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 17, 17, 0.4);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 20;
    transition: var(--transit);
    overflow: hidden;
 }

.modal.active,
.overlay.active{
    opacity: 1;
    visibility: visible;
 }

.close-modal-button {
    position: absolute;
    top: 18px;
    right: 18px;
    width: 12px;
    height: 12px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    border: none;
    background-color: transparent;
    stroke: var(--black-cl);
}

.close-modal-button:hover,
.close-modal-button:focus {
    stroke: var(--hover-light-cl);  
}

.modal-image {
    width: 287px;
    height: 408px;
    border-radius: 8px;
    margin-bottom: 14px;
}

.modal-title {
    width: 250px;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px; 
    letter-spacing: -0.04em;
    margin-bottom: 4px;
    color: var(--black-cl);
}

.modal-author {
    font-style: italic;
    font-size: 12px;
    line-height: 14px; 
    letter-spacing: -0.04em;
    color: #B4AFAF;
    margin-bottom: 18px;
    text-transform: none;
}

.modal-description {
    height: 70px;
    overflow: hidden;

    line-height: 18px;
    letter-spacing: -0.04em;
    color: var(--black-cl);
    text-transform: none;
}

.shopping-link-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 20px;
}

.shopping-link-image {
    filter: grayscale();
}
.shopping-link:hover,
.shopping-link:focus {
mix-blend-mode: luminosity;
filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.15));
}

.add-book-button {
    position: absolute;
    left: 62px;
    top: 676px;

    display: block;
    height: 46px;
    font-family: 'DM Sans';
    font-weight: 700;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    background-color: var(--btn-modal);
    padding: 14px 28px;

    border: 2px solid #4F2EE8;
    border-radius: 40px;
}

.add-book-button:hover,
.add-book-button:focus {
    background-color: var(--hover-light-cl);
    color: var(--white-cl);
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 600px) {
.modal {
    max-width: 579px;
    height: 465px; 
    padding: 40px; 
}

.add-book-button {
    position: absolute;
    left: 40px;
    top: 361px;

    width: 499px;
    height: 64px;
}

.close-modal-button {
    position: absolute;
    top: 31px;
    right: 31px;

    width: 14px;
    height: 14px;
}

.modal-image {
    width: 192px;
    height: 281px;
}

.book {
    display: flex;
    gap: 24px;
}

.shopping-link-list {
    position: absolute;
    left: 256px;
    top: 204px;
}
.modal-title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 8px;
}
.modal-author {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px;
}
.modal-description {
    margin-bottom: 20px;
}
}

